.text {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 1em 1em 0em 0em;
    padding: 25px;
    margin-bottom: -65px;
    height: 200px;
}
.text p{
    font-size: 15px;
    line-height: 27px;
    color: gray;
}
