body{
    margin: 25px;
    background: #c3cfe2;
    border: 1px solid #c3cfe2;
    border-radius: 1em;
    width: 300px;
    box-shadow: 5px 10px 30px #888888;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 @import "name";
 @import "picture";
 @import "text";
