@import "icons";
@import "animation";
@import "before";
body {
    background-color: #c3cfe2;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


 